/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080;
}

header,
section,
footer {
    margin: 20px;
    padding: 20px;
    background-color: #D3D3D3;
}

/* Navigation Styles for .topnav (idea inspired by www.w3schools.com) */
.topnav {
    overflow: hidden;
    background-color: #2C3E50; /* Deep Blue */
}

.topnav a {
    float: left;
    color: #EAECEE; /* Off White */
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s;
}

.topnav a:hover {
    background-color: #34495E; /* Slightly Darker Blue */
    color: #FFFFFF; /* White */
}

.topnav a.active {
    background-color: #2980B9; /* Brighter Blue */
    color: #FFFFFF; /* White */
}

/* ... (remaining styles) ... */

section img {
    max-width: 100%; /* Responsive images */
    height: auto;
}




